.img-about{
    width: 400px;        
    height: 400px;  
    max-width: 630px;     
    border-radius: 50%;  
    border: 3px solid #7C3AED; 
}
.about{
    padding: 20px 10%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}
/* .about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
} */
 .about-text h2{
    font-size: 60px;
 }
 .about-text h2 span{
    color: #0ef;
 }
 .about-text h4{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
 }
 .about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
 }

 /* Service section */
 .services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
 }
 .services-container{
   padding: 90px;
 }
 .sub-title{
    font-size: 60px;
    text-align: center;
    margin-bottom: 70px;
 }
 .sub-title span{
    color: #0ef;
 }
 .services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(260px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
 }
 .services-list div{
    background-color: transparent;
    font-size: 13px;
    padding: 40px;
    font-weight: 600;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s,transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
    1px 1px 40px #0053b8f7;
 }
 .services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
 }
 .services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
 }
 .services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
 }
 .more{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    font-size: 16px;
    border-radius: 40px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
 }
 .read:hover{
    box-shadow: 0 0 5px cyan,0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
 }
 .services-list div:hover{
    transform: translateY(-20px);
 }


