.banner{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    /* background: url("../assets/me.png") no-repeat; */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    background-color: #000000; 

}
.banner-image img {
    width: 400px;        /* Adjust size */
    height: 400px;       /* Make it square to form a perfect circle */
    border-radius: 50%;  /* This makes it a circle */
    object-fit: cover;   /* Ensures image scales without distortion */
    border: 3px solid #7C3AED; /* Optional border color */
}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
}
.home-content h3 span{
    color: #0ef;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-content p{
    font-size: 20px;
}
.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.social-icon a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-about{
    display: inline-block;
    padding: 12px 38px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn-about:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan,0 0 250px cyan;
}
