.banner{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    /* background: url("../assets/me.png") no-repeat; */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    background-color: #000000; 

}
.banner-image img {
    width: 400px;        /* Adjust size */
    height: 400px;       /* Make it square to form a perfect circle */
    border-radius: 50%;  /* This makes it a circle */
    object-fit: cover;   /* Ensures image scales without distortion */
    border: 3px solid #7C3AED; /* Optional border color */
}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-content p{
    font-size: 20px;
}
.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
