
 /* modify Skill section */
 .sec-skill{
    padding: 20px 8%;
 }
.sub-title {
  font-size: 50px;       
}
.skill-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
}
.technical-bars {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 30px; 
  padding: 20px;
}

.bar {
  background: #2b2b3b;
  border-radius: 15px;
  padding: 30px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, background 0.3s;
  height: 180px;
}

.bar:hover {
  transform: translateY(-10px);
  background: #1f1f2f;
}

.bar i, 
.bar img {
  width: 70px;
  height: 70px;
  font-size: 40px;
  margin-bottom: 15px;
  color: #00eeff;
  object-fit: contain;
}

.bar .info span {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .technical-bars {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .technical-bars {
    grid-template-columns: 1fr;
  }
}


/* Projects Section */
.project-section{
    padding: 20px 6%;
}
.main-text{
    padding-top: 110px;
    margin-top: 100px;
    padding-bottom: 30px;
}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
    padding-bottom: 80px;
}
.main-text h2 span{
    color: #0ef;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(359px,auto));
    gap: 15px;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}
.row img{
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#0ef);
    position: absolute;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}
.layer i{
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}


