
 .sec-skill {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  gap: 30px;  
  flex-wrap: wrap; 
 }
  /* section{
    display: flex;
    flex-wrap: wrap;
  } */

.container1{
    flex: 1;
    min-width: 350px;
    /* width: 600px; */
    /* height: 500px; */
    padding: 75px 90px;
    /* margin-left: 120px; */
    margin: 0;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.bar{
    font-size: 23px;
}
.technical-bars .bar{
    margin-top: 40px 0;
}
.technical-bars .bar:first-child{
    margin-top: 0;
}
.technical-bars .bar:last-child{
    margin-bottom: 0;
}
.technical-bars .bar .info{
    margin-bottom: 5px;
}
.technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
   animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;

    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;

    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span{
    width: 90%;
}
.progress-line.css span{
    width: 70%;
}
.progress-line.java span{
    width: 50%;
}
.progress-line.JavaScript span{
    width: 60%;
}
.progress-line.python span{
    width: 50%;
}
.progress-line.react span{
    width: 90%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
