/* -------------------Skill section--------------- */
.sec-skill {
  padding: 20px 6%;
}
.sub-title {
  font-size: 50px;
}
.skill-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
}
.technical-bars {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 20px;
}

.bar {
  background: #2b2b3b;
  border-radius: 15px;
  padding: 30px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s, background 0.5s;
  height: 180px;
}

.bar:hover {
  transform: translateY(-10px);
  background: #1f1f2f;
}

.bar i,
.bar img {
  width: 70px;
  height: 70px;
  font-size: 40px;
  margin-bottom: 15px;
  color: #00eeff;
  object-fit: contain;
}

.bar .info span {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .technical-bars {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .technical-bars {
    grid-template-columns: 1fr;
  }
}

/* ---------------------------Project section---------------------- */
.project-section {
  padding: 20px 8%;
}
.main-text {
  padding-top: 110px;
  margin-top: 100px;
  padding-bottom: 30px;
}
.main-text h2 {
  font-size: 50px;
  line-height: 1;
  text-align: center;
  padding-bottom: 60px;
}
.main-text h2 span {
  color: #0ef;
}
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}

.row {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  height: 300px;
}

.row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #0ef);
  position: absolute;
  border-radius: 10px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}
.layer h5 {
  color: red;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 15px;
}
.layer p {
  color: white;
  font-size: 1rem;
  line-height: 1.5;
}
.layer i {
  color: #ff004f;
  margin-top: 20px;
  font-size: 20px;
  background: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.row:hover img {
  transform: scale(1.1);
}
.row:hover .layer {
  height: 100%;
}

/* ------------ Contact------------- */

.contact-section {
  padding: 20px 8%;
  padding-top: 300px;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-text {
  flex-basis: 35%;
}
.contact-form {
  flex-basis: 60%;
}
.contact-text h2 {
  font-size: 50px;
  line-height: 1;
}
.contact-text h2 span {
  color: #0ef;
}
.contact-text h4 {
  margin: 15px 0;
  color: rgb(228, 228, 228);
  font-size: 20px;
  font-weight: 600;
}
.contact-text p {
  color: rgb(177, 177, 177);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
}

.contact-list {
  margin-bottom: 3rem;
}
.contact-list li {
  margin-bottom: 10px;
  display: block;
}
.contact-list i {
  display: inline-block;
  color: #0ef;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s ease;
}
.contact-list li a:hover {
  transform: scale(1.01) translateY(-5px);
  color: #0ef;
}
.contact-icons i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 1px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.contact-icons i:hover {
  background: #0ef;
  color: #000;
  box-shadow: 0 0 20px #0ef;
}
.contact-form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #3a3a3a;
  padding: 15px;
  margin: 10px 0;
  /* color: #fff; */
  font-size: 18px;
  border-radius: 10px;
}
.submit {
  width: 200px;
  font-size: 18px;
}
#msg {
  color: #61b752;
  margin-top: 20px;
  margin-left: 5px;
  display: block;
}
.submit-form1 {
  display: flex;
  gap: 30px;
}
/* -------------------------------Responsive----------------------------------- */
nav .no {
  display: none;
}
@media screen and (max-width: 600px) {
  /* ------navbar----- */
  nav .no {
    display: block;
    font-size: 25px;
  }
  nav ul {
    position: fixed;
    top: 0;
    right: -200px;
    background-color: #ff6666;
    width: 200px;
    height: 60vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav .cross {
    position: absolute;
    top: 20px;
    left: 90px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  nav ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .logo {
  }
  /* -------banner------ */
  .banner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .home-content h1 {
    line-height: 1.2;
    padding-top: 20px;
  }
  .home-content p {
    flex-wrap: wrap;
  }
  .home-content h3 {
    padding-top: 30px;
    font-size: 20px;
  }
  .home-content .hello {
    /* padding-top: 80px; */
    font-size: 20px;
  }
  .img-about {
    display: none;
  }
  /* ---------about-------- */
  .about {
    padding-top: 50px;
  }
  .about-img,
  .about-text {
    flex-basis: 100%;
  }
  .about-img {
    margin-bottom: 30px;
  }
  .about-text h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 25px;
  }
  .tab-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    text-align: center;
  }

  .tab-link {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }

  .about-text p {
    margin-right: 0;
  }
  .about-contents ul li {
    margin-right: 150px;
  }
  /* ------------Services-------- */
  .services-container .sub-title {
    font-size: 40px;
    line-height: 1.4;
  }
  .services-container {
    padding: 40px;
  }
  .services {
    padding-top: 100px;
  }

  /* ----------Skills--------- */
  .sub-title {
    font-size: 40px;
  }
  .sec-skill {
    padding-top: 150px;
  }

  /* --------Project-------- */
  .main-text h2 {
    font-size: 40px;
  }
  .portfolio-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    padding: 15px;
  }
  /* -----------Contact --------- */
  .contact-section {
    padding-top: 180px;
  }
  .contact-text h2 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
  }
  .contact-text,
  .contact-form {
    flex-basis: 100%;
  }
  .contact-form {
    padding-top: 80px;
  }
  .submit {
    margin: 20px auto;
  }
  /* ----------footer-------- */
  .footer-items a {
    display: none;
  }

  .rights-text {
    margin: 0;
    padding: 5px 0;
  }
}
